@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  header .nav-bar ul li {
    display: inline-block;
  }
  header .burger-menu {
    display: none;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  header .search-icon {
    width: 100px;
  }
  .search-bar {
    flex-direction: row;
    justify-content: center;
  }
  .search-bar .search-form {
    flex-direction: row;
  }

  .popular-container {
    width: 1200px;
    margin: auto;
  }

  .newsletter-container {
    flex-direction: row;
    justify-content: center;
  }
  .mail-form {
    display: block;
  }
  .newsletter-text {
    margin-top: 0;
    margin-right: 10px;
  }
}
